*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6f7586,#164a5a);
}

.container{
    width:420px;
    padding:30px;
    border-radius:20px;
    background:rgba(67, 12, 12, 0.15);
    backdrop-filter:blur(12px);
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
    color:rgb(255, 255, 255);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.question{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    margin-top:5px;
}

.buttons{
    margin-top:15px;
    text-align:center;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#545b9d;
    color:rgb(255, 254, 254);
    cursor:pointer;
    margin:5px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ff4f81;
}

.reset{
    background:#e74a3b;
}

.result{
    margin-top:15px;
    padding:10px;
    border-radius:10px;
    font-weight:bold;
    text-align:center;
}
